.Datia {
  box-shadow: var(--datia-bs);
  transition-duration: 0.6s;
}

.Datia:hover {
  box-shadow: var(--datia-bs-hover);
}

.Rather {
  box-shadow: var(--rather-bs);
  transition-duration: 0.6s;
}

.Rather:hover {
  box-shadow: var(--rather-bs-hover);
}

.Bitflix {
  transition-duration: 0.6s;
  box-shadow: var(--bitflix-bs);
}

.Bitflix:hover {
  box-shadow: var(--bitflix-bs-hover);
}

.NextTime {
  box-shadow: var(--nexttime-bs);
  transition-duration: 0.6s;
}

.NextTime:hover {
  box-shadow: var(--nexttime-bs-hover);
}

.Runny {
  box-shadow: var(--runny-bs);
  transition-duration: 0.6s;
}

.Runny:hover {
  box-shadow: var(--runny-bs-hover);
}

.Storm {
  box-shadow: var(--bitflix-bs);
  transition-duration: 0.6s;
}

.Storm:hover {
  box-shadow: var(--bitflix-bs-hover);
}