@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, 'Inter', sans-serif;
  --black: #090909;
  --black-opacity: #0909099f;
  --white: #f2f2f2;
  --logo: rgb(220, 220, 220);
  --logo-hover: white;
  --menu: 0px 4px 10px #1c1c1cd5;
  --icon: #CACACA;
  --twitter-icon: #1DA1F2;
  --github-icon: #5b5b5b;
  --linkedin-icon: #0A66C2;
  --datia-bs: 0px 4px 45px rgba(125, 69, 223, 0.325);
  --rather-bs: 0px 4px 45px rgba(87, 64, 238, 0.317);
  --bitflix-bs: 0px 4px 45px rgba(43, 112, 215, 0.092);
  --nexttime-bs: 0px 4px 45px #5566e544;
  --runny-bs: 0px 4px 45px #72f17d2e;
  --datia-bs-hover: 0px 8px 80px rgba(125, 69, 223, 0.426);
  --rather-bs-hover: 0px 8px 80px rgba(87, 64, 238, 0.454);
  --bitflix-bs-hover: 0px 8px 80px rgba(43, 112, 215, 0.125);
  --nexttime-bs-hover: 0px 8px 80px #5566e567;
  --runny-bs-hover: 0px 8px 80px #7ce9693b;
  background-color: var(--black);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
