@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, 'Inter', sans-serif;
  --black: #090909;
  --black-opacity: #0909099f;
  --menu: 0px 4px 10px #1c1c1cd5;
  --icon: #CACACA;
  --twitter-icon: #1DA1F2;
  --github-icon: #5b5b5b;
  --linkedin-icon: #0A66C2;
  --datia-bs: 0px 4px 45px rgba(125, 69, 223, 0.5);
  --rather-bs: 0px 4px 45px rgba(88, 64, 238, 0.5);
  --bitflix-bs: 0px 4px 45px rgba(43, 112, 215, 0.256);
  --nexttime-bs: 0px 4px 45px #5566e577;
  --entrenando-bs: 0px 4px 45px #00000077;
  --datia-bs-hover: 0px 8px 80px rgba(125, 69, 223, 0.637);
  --rather-bs-hover: 0px 8px 80px rgba(87, 64, 238, 0.63);
  --bitflix-bs-hover: 0px 8px 80px rgba(43, 112, 215, 0.534);
  --nexttime-bs-hover: 0px 8px 80px #5566e598;
  --entrenando-bs-hover: 0px 8px 80px #0000009d;
  background-color: var(--black);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
